@import 'var/index.less';
@import 'transition/index.less';
@import 'components/index.less';
@import 'reset-dx.less';
@import 'normalize.css';

@font-face {
  font-family: 'dxicons';
  font-style: normal;
  font-weight: normal;
  font-display: 'auto';
  src: url('fonts/dxicons.woff') format('woff'), url('fonts/dxicons.woff2') format('woff2'),
    url('fonts/dxicons.ttf') format('truetype');
}

@font-face {
  font-family: 'dxiconsmaterial';
  font-style: normal;
  font-weight: normal;
  font-display: 'auto';
  src: url('fonts/dxiconsmaterial.woff') format('woff'),
    url('fonts/dxiconsmaterial.woff2') format('woff2'),
    url('fonts/dxiconsmaterial.ttf') format('truetype');
}

html {
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: visible !important;
  // overflow-x: hidden !important; 有这个弹窗加loading会有滚动条
}
