@import 'var/index.less';
@import 'transition/index.less';
@import 'components/index.less';

html {
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: visible !important;
  overflow-x: hidden !important;
}

a:focus,
a:active,
button,
div,
svg,
span {
  outline: none !important;
}
